<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <title>Top 1000 GitHub Repositories Ranked by Stars – starlist.dev</title>
  <style type="text/css">
    body  {
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
      font-size: 14px;
    }
    .wrapper {
      margin: 20px;
    }
  </style>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>